.ui.borderless.fitted.menu {
  box-shadow: none;
  border: none;
  background-color: lightgray;
}

.ui.borderless.menu {
  box-shadow: none;
  border: none;

}

.grey-background {
  background-color: #292929;
  height: 200px;
  padding: 50px 50px 50px 50px;
  color: white;
}


.ui.segment {
  box-shadow: none;
  border: none;
}
